<divc id="chatWrapper">
	<div id="attributesBox">
		<label>Where:</label>
		<p>{{where}}</p>
		<label>When:</label>
		<p>{{start_time}}</p>
		<label>End:</label>
		<p>{{end_time}}</p>
		<label>Description:</label>
		<p>{{description}}</p>
		<label>Members</label>
		<p>{{members.length}}</p>
		<button id="joinEvent">Join</button>
		<br />
	</div>
	<div id="msgBox">
		{{#each chat.messages}}
			<div class="{{nickname}}">
				<p>
					<strong class="nickname">{{nickname}}</strong>
					<i class="createdAt">{{created_at}}</i>
					<br />
					{{message}}
				</p>
			</div>
		{{/each}}
	</div>

	<input type="text" id="newMsg" />
	<button id="sendMsg">Senden</button>

</div>
<a class="close-reveal-modal">&#215;</a>